<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  
</head>
<div class="info">
<body>
  <div class="container1">
    <div class="contain1">
      <h1>Your Total Expense {{outcome}}</h1>
    </div>
  </div>
    <div class="container" *ngFor = "let ex of expense">
        <div class ="contain">
              <h1>{{ex.amount | currency: 'INR' }}<p style="float:right"> </p></h1>
              <h2 class="content">{{ex.name}}</h2>
              <h2 class="content">{{ex.desc}}</h2>
              <div class="example-button-row">
              <button mat-raised-button color="primary" (click)="UpdateExpense(ex.id)">EDIT</button>
              <button mat-raised-button color="accent" type="submit" (click)="DelMovie(ex)">REMOVE</button>
              </div>
             </div> 
            <br><br>
    </div>


</body>  
</div> 
