
.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.container {

  position: relative;
  width: 100%;
  max-width: 400px;
  top: 200px;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}
.example-card{
  padding: 20px;
  color: rgb(18, 18, 18);
  /* background-image: linear-gradient(to right, rgb(102, 3, 66) , rgb(12, 8, 94)); */
  box-shadow: 5px 5px 10px 10px rgba(240, 139, 213, 0.374);
  
}

.content{
  color: rgb(120, 122, 124);
  font-size: 20px;
}

.info{
  background-color: rgb(215, 218, 220);
}

.contain {
  max-width: 19rem;
  border-radius: 1rem;
  padding: 20px;
  overflow: hidden;
  box-shadow: 3px 50px 50px 0px rgba(50, 6, 245, 0.1);
  background-color: white;
  text-align: center;
}
h1{
  font-size: 30px;
  font-family: 'Poppins';
}
h2{
  font-family: 'Poppins';
}
